@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,700;1,400&display=swap');
:root{
     --light-color:#F3F3F3;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: var(--light-color);
    font-family: 'Roboto Mono', monospace,sans-serif;
    line-height: 1.5;
}
a{
    text-decoration: none;
}
textarea{
    resize: none;
}
/*UTILITY CLASSES*/
.container{
    max-width: 1100px;/*scren ki size ke hisaab se width leta hai*/
    margin: 0 auto;
    padding: 0 2rem;
}
.text-center{
    text-align: center;
}
.text-dark{
    color: #333;
}
.bg-light{
    color: #F4F4F4;
    color: #333;
}
.bg-dark{
    background: #333;
    color: #FFF;
}
.py{
    padding: 0.5rem 0;
}
.py-1{
    padding: 1.5rem 0;
}
.py-2{
    padding: 2rem 0;
}
.py-3{
    padding: 3rem 0;
}
.p-1{
    padding: 1.5rem;
}
.p-2{
    padding: 2rem;
}
.p-3{
    padding: 3rem;
}
.l-heading{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 1.1;
}
.m-heading{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.lead{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
ul.list{
    margin: 0.5rem 0;
    list-style: none;
}
ul.list li{
    padding: 0.5rem 0;
    border-bottom: solid 2px #B0B0B0;
}
.border-1{
    border-bottom: solid 2px #333;
}
.btn{
    display: inline-block;
    color: #333;
    padding: .5rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: #A8A8A8;
    position: relative;
     animation-name:mithu;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count:infinite;
    animation-direction:normal;

}
@keyframes mithu{
    0%{
        border-radius: 0%;
        background: red;
        left: 10px;
        
    }
    50%{
        background: green;
        left:50px;
    }
    100%{
        background: blue;
        left: 100px;
    }
}
    /*navbar*/
.navbar{
    background: #FFF;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 9999;
    box-shadow: 0 10px 10px rgba(0,0,0,0.25);
    padding: 1rem 0;
}
.navbar .container{
    display: grid;
    grid-template-columns:  2fr 1fr;
    align-items: center;
}
.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar ul li a:hover{
    background:#A8A8A8 ;
}

.navbar ul li a:last-child{
    margin-right: 0;
}
.navbar ul li a {
    color: #333;
    padding:.75rem;
    margin: 0 .25rem;
    border-radius: 5px;
    background: #D8D8D8;
    transition: background 0.3s;
    font-weight: bold;
}
.btn{
    display:inline;
    max-width: 250px;
    border: none;
 background: #FFF;
    padding: .5rem 1.5rem;
    color: #333;
}

/*showcase*/
#showcase{
    position: relative;
    background: #FF69B4;
    color: #FFF;
    background-size: cover;
}
#showcase:before{
    content: "";
    background: url('hamburger.jpg') no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

#showcase .showcase-content{
    z-index: 1;
}
#showcase .container{
    min-height: 100vh;
}
#home-articles .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
}
#home-articles .container .timepass{
    text-align: center;
    font-weight: 300;
    font-size: 30px;
}

#hey2 .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
}


        